.TodoItem {
  display: flex;
  /* 열글 기준으로 가운데 정렬 */
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  /* 아래 여백부분에 밑줄 추가 */
  border-bottom: 1px solid rgb(240, 240, 240);
}

.TodoItem > input {
  width: 20px;
}

.TodoItem > .content {
  /* 상위에서 설정된 공간을 넘지 않게 최대 너비 사용 */
  flex: 1;
}

.TodoItem > .date {
  font-size: 14px;
  color: gray;
}

.TodoItem > button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
